<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a routerLink="/lecturers" routerLinkActive="active">Lecturers</a></li>
      <li><a routerLink="/subjects" routerLinkActive="active">Subjects</a></li>
      <li><a routerLink="/workloads" routerLinkActive="active">Workloads</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</body>
</html>